.contenaire_modification{
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.head_modification{
    height: 10%;
    width: 100%;
    background-color: #6D6875;
    align-items: center;
    padding: 0px 25px;
}
.form_modification_group{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.col_modification{
    color: white;
}
.h2_modification{
}

.inf_modification{
    height: 20%;
    width: 100%;
    background-image: url('../../../images/erreur.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    justify-content: space-between;
}
.cont_modification{
    height: 65%;
    width: 100%;
    justify-content: center;
    background-color: #FDE0D0;
}
.mon_bb{
    width: 100%;
    height: 5%;
    background-color: #6D6875;
}
.Form_modification{
    width: 92%;
}
