.container_dash{
    height: 100vh;
    width: 100vw;
    background-color: #006BA6;
}
.head_dash{
    height: 10%;
    width: 90%;
}
.header_daash{
    height: 20%;
    width: 90%;
    border-radius: 10px;
}
.corps_dash{
    height: 70%;
    width: 90%;
}
.table{
    border-radius: 10px;
}





















