.Stop{
    background-color: #006BA6;
    height: 100vh;
    width: 100vw;
}
.logo_stop{
    height: 50%;
    width: 100%;
}
.logo_stop1{
    height: 90%;
    width: 90%;
    border: 1px solid #0496FF;
    border-radius: 10px;
}
.form_stop{
    height: 50%;
    width: 100%;
}

















