.Accueil{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #311847;
}
.cursor{
    cursor: pointer;
}

.header_accueil{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
head{
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.icon_head{
    font-size: 40px;
    color: #311847;
}

.drapeau{
    width: 80%;
    background-color: #E0ECF5;
    display: flex;
}
.taille{
    height: 3px;
    width: 33%;
}
.vert{
    background-color: #55A630;
}
.jaune{
    background-color: #FFD500;
}
.bleu{
    background-color: #00509D;
}
.footer_accueil{
    height: 50%;
    width: 100%;
    background-color: #0091AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0;
}
.footer_accueil_contenu{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text{
    color: white;
    font-size: 20px;
    text-align: center;
}
.classeur{
    font-size: 60px;
    text-align: center;
}
