.contenaire_naissance{
    background-color: #311847;
    height: 100vh;
    width: 100vw;
}
.bloc_naissance{
    height: 40%;
    width: 90%;
}
.bloc2{
    height: 70%;
    align-items: center;
}
.bloc1{
    flex-direction: row-reverse;
}
.img-mairie{
    width: 200px;
}
.col_mairie{
    background-color: #311847;
    color: white;
    width: 100%;

}
.ca_marche{
    height: 55%;
    width: 90%;
    background-color: #311847;
}
.bg_but_naissance{
    background-color: #311847;
}
.deplacement-icon{
    transform: translateX(110px);
}
