.contenaire_naissance{
    background-color: #006BA6;
    height: 100vh;
    width: 100vw;
}
.bloc_naissance{
    height: 100%;
    width: 90%;
}
.bloc2{
    height: 70%;
    align-items: center;
}
.bloc1{
    flex-direction: row-reverse;
}
.img-mairie{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid;
}
.col_mairie{
    background-color: #006BA6;
    color: white;
    width: 100%;
    border-bottom: 1px solid #0496FF;

}
.ca_marche{
    border-radius: 10px;
    height: 55%;
    width: 90%;
    background-color: #0496FF;
}
.bg_but_naissance{
    background-color: #006BA6;
}

